[submodule "jdpatterson.github.io"]
	path = jdpatterson.github.io
	url = https://github.com/p4tterson/jdpatterson.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/p4tterson/jdpatterson.github.io.git
	branch = master
